html {
  font-size: 18px;
  overflow: scroll;
}

header {
  background-color: black;
  width: 100%;
  position: fixed;
  z-index: 1;
  padding: .66rem 0px .66rem 0.5rem;
  margin: 0 auto;
}

.logo {
  width: 960px;
  margin-left: 100px;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  height: 1.5rem;
}

.logo p {
  padding-left: 1rem;
  font-size: 1rem;
}

body {
  width: 1160px;
  height: auto;
  background-color: black;
  font-family: Helvetica, sans-serif;
  color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.headercontainer {
  width: 1160px;
  height: 25rem;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-size: cover;
  position: relative;
  margin-top: 2.32rem;
}

.headerblock {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: auto;
  background-color: black;
  z-index: 1;
  margin-top: 9rem;
  margin-left: 100px;
  margin-right: 0;
  position: relative;
}

.line1,
.line2 {
  display: block;
  font-weight: bold;
  margin-top: 2rem;
  margin-left: 3rem;
}

.line1 {
  font-size: 1rem;
}

.line2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

nav {
  width: 1160px;
  background-color: firebrick;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navbar,
.navbaralt-tab {
  display: inline-flex;
  justify-content: space-around;
  width: 960px;
  padding: .75rem 0 .75rem 0;
}

.navbar a,
.navbaralt-tab a {
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1160px;
  height: auto;
  background-color: white;
  position: relative;
  margin: 0 auto;
}

.imagecolumns {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 960px;
  height: auto;
  margin: 3rem auto 0 auto;
  position: relative;
}

.imagecolumn1,
.imagecolumn2,
.imagecolumn3 {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  width: 30%;
  height: 15rem;
  position: relative;
  margin-bottom: 3rem;
}

.imagecolumn1 img,
.imagecolumn2 img,
.imagecolumn3 img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 9rem;
  height: 9rem;
  margin: 2rem auto;
  position: relative;
}

.imagecolumn1 p,
.imagecolumn2 p,
.imagecolumn3 p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  width: 100%;
  padding: .5rem 0;
  position: relative;
}


.infobox {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 960px;
  height: auto;
  margin: 3rem auto 0 auto;
  position: relative;
}

.maininfo1,
.maininfo2 {
  display: inline-flex;
  flex-direction: row;
  width: 35%;
  height: 3rem;
  position: relative;
}

.maininfo1 p,
.maininfo2 p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: black;
  width: 100%;
  padding: 1rem 0 1rem 2rem;
  position: relative;
}

.secondaryinfo1,
.secondaryinfo2 {
  display: inline-flex;
  flex-direction: row;
  width: 35%;
  height: 2rem;
  position: relative;
  margin-bottom: 3rem;
}

.secondaryinfo1 p,
.secondaryinfo2 p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: white;
  color: gray;
  width: 100%;
  padding-top: .25rem;
  position: relative;
}

footer {
  width: 1160px;
  height: 5rem;
  background-color: black;
  position: relative;
  margin: 0 auto;
}

footer p {
  margin-left: 100px;
  margin-top: 2rem;
}

@media only screen and (max-width: 1024px) {
  .navbar {
    display: none;
  }
  body,
  nav,
  main,
  footer {
    width: 960px;
  }

  .imagecolumn1,
  .imagecolumn2,
  .imagecolumn3 {
    width: 47%;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1024px) {
  .navbaralt-tab {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  body,
  nav,
  main,
  footer,
  .logo,
  .headercontainer,
  .imagecolumns {
    width: 470px;
  }

  .logo {
    margin-left: 0px;
  }

  .headercontainer {
    width: 100%;
    height: 15rem;
  }

  .headerblock {
    width: 100%;
    margin-top: 9rem;
    margin-left: 0rem;
  }

  .line1,
  .line2 {
    margin-top: 1rem;
    margin-left: 2rem;
  }

  .line1 {
    font-size: .77rem;
  }

  .line2 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .imagecolumn1,
  .imagecolumn2,
  .imagecolumn3,
  .maininfo1,
  .maininfo2 {
    width: 90%;
  }

  footer p {
    margin-left: 0;
    text-align: center;
  }
}
